<!-- <h1 #h1Variable > </h1> -->
<!-- *ngIf ="dataFromChild">{{dataFromChild?.name + '' +dataFromChild?.department }} -->
<div *ngFor="let employee of employees">
  <div>
  <!-- <div (click)="h1Variable.innerHTML = childComponent.employee.name + ' ' + childComponent.employee.gender "> -->


    <app-display-employee [employee]="employee" #childComponent > </app-display-employee>
    <!-- (notify)="handleNotify($event)" -->
  </div>

</div>
<!-- <button (click)="nextEmployee()" class="btn btn-primary">Display Next Employee</button>
<br/>
<br/>
<br/>
<app-display-employee [employee]="employeeToDisplay"> </app-display-employee> -->